#input-wrapper {
	display: inline-block;
	position: relative;
	margin-bottom: 1.3rem;
	margin-top: 1rem;
}

#input-wrapper::after {
	content: attr(data-text);
	line-height: 0;
	max-width: 100%;
	border-bottom: 0.2rem solid #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0.2rem;
	overflow: hidden;
	user-select: none;
	color: transparent;
}

#inputSearch {
	color: #ddd;
	border: none;
	margin-left: 8rem;
	border-radius: 0;
	outline: none;
	width: auto;
	min-width: 100%;
	line-height: 2rem;
	border-bottom: 0.17rem solid #333333;
	background-color: transparent;
}

.pastMeet {
	display: flex;
	flex-wrap: nowrap;
	padding: 1rem 3rem;
	border-bottom: 0.3rem dotted black;
	margin: 0 1rem;
}

.meetAboutTime {
	padding: 0 0.7rem 0.7rem 0.7rem;
	margin-right: 2rem;
	border: 0.2rem solid black;
}

.meetTime {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.parTime {
	margin: 0;
}

.meetDate {
	text-align: center;
}

h3 {
	margin-top: 0.5rem;
	color: #FFD700;
}

.meetDetails {
	display: flex;
	padding: 0.3rem;
	background-color: inherit;
	border: 0.2rem solid #FFD700;
	color: #FFD700;
	margin-left: 50rem;
}

.alert {
	background: red;
	margin-bottom: 1rem;
	border-radius: 30%;
	font-weight: bold;
	border-width: 1rem;
}

