.indexImg {
    float: right;
    width: 32.5rem;
    height: auto;
}

.aboveLine {
    margin-top: 5rem;
}

.aboutLore {
    max-width: 45rem;
    margin-top: 7remm;
}

hr {
    margin: 0;
    max-width: 44rem;
}
