#input-wrapper {
	display: inline-block;
	position: relative;
	margin-bottom: 1.3rem;
	margin-top: 1rem;
}

#input-wrapper::after {
	content: attr(data-text);
	line-height: 0;
	max-width: 100%;
	border-bottom: 0.2rem solid #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	overflow: hidden;
	user-select: none;
	color: transparent;
}

#inputSearch {
	color: #ddd;
	border: none;
	margin-left: 8rem;
	border-radius: 0;
	outline: none;
	width: auto;
	min-width: 100%;
	line-height: 2rem;
	border-bottom: 0.17rem solid #333333;
	background-color: transparent;
}

.cardRow {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.card {
	background-color: #0c0e0f;
	width: auto;
	padding: 0.4rem;
	box-shadow: 0 0.3rem 0.5rem 0 black;
	border-radius: 0.3rem;
	border: solid 0.1rem #FFD700;
	max-width: 17rem;
}

.cardImg {
	width: 17rem;
	border-radius: 0.3rem 0.3rem 0 0;
}

.cardBody {
	widows: 17rem;
}
.cardTitle {
	text-align: center;
	margin: 0.1rem 0 0 0;
	border-bottom: 0.3rem dotted black;
}

.cardText {
	text-align: center;
}

.divBtnMore {
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.btnMore:hover {
	opacity: 0.8;
}

.btnMore {
	font-size: 0.8rem;
	text-decoration: none;
	padding: 0.1rem;
	background-color: inherit;
	border: 0.1rem solid #d0ad00;
	border-radius: 0.3rem;
	color: #d0ad00;
}
