#input-wrapper {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}

#input-wrapper::after {
	content: attr(data-text);
	line-height: 0;
	height: 0;
	max-width: 100%;
	border-bottom: 2px solid #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	overflow: hidden;
	user-select: none;
	color: transparent;
}

#inputSearch {
	color: #ddd;
	border: none;
	padding: 0;
	border-radius: 0;
	outline: none;
	width: auto;
	min-width: 100%;
	line-height: 3em;
	border-bottom: 2px solid #333333;
	background-color: transparent;
}

.cardRow {
	display: flex;
	justify-content: space-around;
	margin-bottom: 12px;
}

.card {
	background-color: #0c0e0f;
	width: auto;
	padding: 5px;
	box-shadow: 0 4px 8px 0 black;
	transition: 0.3s;
	border-radius: 5px;
	border: solid 1px #FFD700;
}

.cardImg {
	width: 17rem;
	border-radius: 5px 5px 0 0;
}

.cardBody {
	widows: 17rem;
}
.cardTitle {
	text-align: center;
	margin: 0;
	border-bottom: 4px dotted black;
}

.cardText {
	text-align: center;
}

.divBtnMore {
	margin: 0;
	display: flex;
	justify-content: flex-end;
}

.btnMore:hover {
	opacity: 0.8;
}

.btnMore {
	font-size: 12px;
	text-decoration: none;
	padding: 3px;
	background-color: inherit;
	border: 1px solid #d0ad00;
	border-radius: 5px;
	color: #d0ad00;
}
