.container {
  padding: 16px;
  color: white;
}

h1 {
  color: #FFD700;
  margin: 8px 42%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  width: 50%;
  height: 2rem;
  padding: 16px 20px;
  margin: 8px 25%;
  cursor: pointer;
  padding: 5px;
  background-color: inherit;
  border: 2px solid #FFD700;
  color: #FFD700;
  font-size: 1rem;
  }

.registerbtn:hover {
  opacity: 0.8;
}
.regLabel {
  color: white;
}

.acces {
  width: 50%;
  margin: 8px 25%;
}