<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='aboutProfStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
    </header>
     <main>

        <h1><center>Web-разработчик</center></h1>
        <p>
            Web-разработка является наиболее распространенной сферой среди программистов. И все же, что же это такое
            и с чем это едят?
        </p>
        <p>
            Для начала надо понимать, что Web так или иначе связан с интернетом и браузерами. Конкретно, он
            занимается разработкой всех страниц, которые пользователь может найти через поисковик, что также создан с
            помощью всемогущего Web-а.
            Но и тут не все так просто. Ветвлений целых три:
        <ul>
            <li>
                <b>Backend-developer.</b> Прекрасный человек, который создает то, чего мы не видим, но пользуемся
                постоянно. Можно сравнить с поваром в ресторане, он готовит еду, которую нам приносит официант в
                соответствии с нашим заказом, но мы не видим этого процесса, лишь результат. Именно поэтому, как
                если вы получили рыбу вместо стейка, так и если при поиске еды вы получили список известных
                людей, это вина именно этого человека.
            </li>
            <li>
                <b>Frontend-developer.</b> Еще одно направление, которое входит в Web-разработку. Фронтовик
                занимается картинкой, которую мы видим, заходя на сайт. Его можно сравнить с тем самым официантом
                или составителем меню. И если на телефоне сайт вылезает за пределы экрана, то вы знаете, кто
                виноват.
            </li>
            <li>
                <b>Fullstack-developer.</b> А это, знакомьтесь, винегрет. Человек, который занимется и Back и
                Front. Из-за этого немного страдает скорость разработки, и, конечно, он не может быть настолько
                же профессионален, как специализированный Frontend-developer и Backend-developer.
            </li>
        </ul>
        Так же стоит заметить, что чистым фронтовиком и бекендщиком выйти не получиться, потому что немного да
        придется разбираться в смежной сфере, поскольку это два взаимосвязанных человека, которые должны
        взаимодействовать друг с другом и понимать то, о чем говорит напарник. Так же без фронта не может
        существовать бек, а без бека не может работать фронт.
        </p>
    </main>
	</div>

            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
</body>
</html>
