<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='aboutMeetStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header() }}
    </header>
    <main>
        <div class="meetInfoDiv">
            <div class="meetDate">
                
            </div>
            <div class="meetTime">
                
            </div>
            <div class="meetLen">
                
            </div>
            <div class="meetQualPeop">
                
            </div>

        </div>

        <h1>This is a page about meet-up</h1>
    </main>
	</div>

    <footer>
            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
    </footer>
</body>
</html>