<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='aboutMeetStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
    </header>

    <main>
        <div class="meetInfoDiv">
            <div class="meetDate">
                <p><b>Дата митапа</b>
            	<br>
                    {{ event.date_of_the_event }}
            	</p>
            </div>
            <div class="meetTime">
                <p><b>Время</b>
                <br>
                XXX
            	</p>
            </div>
            <div class="meetLen">
                <p><b>Длительность</b>
                <br>
                XXX
            	</p>
            </div>
            <div class="meetQualPeop">
                <p><b>Зарегистрировано</b>
                <br>
                    XXX
            	</p>
            </div>

        </div>
	    
	<div class="meetDescription">{{ event.description|safe }}</div>
    </main>
	</div>
            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
</body>
</html>
