<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='aboutMeetStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
    </header>

    <main>
	 <div class="preloader">
            <div class="preloader__row">
                <div class="preloader__item"></div>
                <div class="preloader__item"></div>
            </div>
        </div>
	    
	<img src="{{url_for('static', filename='common_photos/FrontDevMeetCover.png')}}" alt="{{ event.name }}" class="mainCoverWeb">
	    
        <div class="meetInfoDiv">
            <p><center><b> Дата и время митапа </b>
            <br>
                {{ event.date_of_the_event }} </center>
            </p>
            <p><center><b> Спикер </b>
            <br>
            Иванов Иван Иванович </center>
            </p>
            <p><center><b> Формат проведения </b>
                <br>
                {{ event.form_of_the_event }} </center>
            </p>
        </div>
	    
	<div class="meetDescription">
		{{ event.description|safe }}
	</div>
	    
	<div class="meetPlace">
        	<p><b> Мероприятие пройдет {{ event.form_of_the_event }}<br>
        	Место проведения: {{ event.place }}
        	</b></p>
        </div>
    </main>
	</div>
            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
</body>
</html>
