<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header() }}
    </header>
    <main>
        <h1><center>Прошедшие митапы</center></h1>
        
        <form class="d-flex" id="input-wrapper">
            <input class="form-control me-2" id="inputSearch" type="search" placeholder="Что ищем?" aria-label="Search">
        </form>
        
        {% from 'meetMacr.html' import meet %}
            {{ meet() }}
        
        {% from 'meetMacr.html' import meet %}
            {{ meet() }}
        
        {% from 'meetMacr.html' import meet %}
            {{ meet() }}
        
        {% from 'meetMacr.html' import meet %}
            {{ meet() }}
    </main>
    </div>

    <footer>
            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
    </footer>
</body>
</html>
