<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='archiveStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calendarStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
    </header>
    <main>
        
        <form class="d-flex" id="input-wrapper">
            <input class="form-control me-2" id="inputSearch" type="search" placeholder="Что ищем?" aria-label="Search" name="query">
        </form>
        
        {% from 'archiveMeetMacr.html' import pastMeet %}
            {{ pastMeet() }}
        
        {% from 'archiveMeetMacr.html' import pastMeet %}
            {{ pastMeet() }}
        
        {% from 'archiveMeetMacr.html' import pastMeet %}
            {{ pastMeet() }}
        
        {% from 'archiveMeetMacr.html' import pastMeet %}
            {{ pastMeet() }}
    </main>
    </div>

            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
</body>
</html>
