{% macro pastMeet(event_id, name, date_of_event, description, place, event_form) %}

<div class="pastMeet">
            <div class="meetAbout">
                <div class="meetName">
                    <h3 onclick="window.location.href = './pastMeet/{{event_id}}';">
                        {{ name }}
                    </h3>
                </div>
                <div class="meetInfo">
                    <p>
                        {{ description|safe }}
                    </p>
                    <button class="meetDetails" onclick="window.location.href = './pastMeet/{{event_id}}';">
                        Подробнее
                    </button>
                </div>
            </div>
        </div>
{% endmacro %}
