<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calendarStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>


<body>
    <div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header() }}
    </header>

    <main>
    <form class="d-flex" id="input-wrapper">
      <input class="form-control me-2" id="inputSearch" type="search" placeholder="Что ищем?" aria-label="Search">
    </form>

        <div class="meet">
            <div class="meetAboutTime">
                <div class="meetTime">
                   <p class="parTime">
                        15:00 мск
                   </p>
                </div>
                <div class="meetTime">
                   <p class="parTime">
                        Вт
                   </p>
                </div>
                <div class="meetTime meetDate">
                  <p class="parTime">
                     XX 
                       <br>
                     Января
                  </p>
                </div>
            </div>
            <div class="meetAbout">
                <div class="meetName">
                    <h3>
                        Некое название митапа
                    </h3>
                </div>
                <div class="meetInfo">
                    <p>
                        Нечто о митапе.
                    </p>
                    <button class="meetDetails" onclick="window.location.href = '/aboutMeet';">
                        Подробнее 
                    </button>
                </div>
            </div>
        </div>

        <div class="meet">
            <div class="meetAboutTime">
                <div class="meetTime">
                   <p class="parTime">
                        15:00 мск
                   </p>
                </div>
                <div class="meetTime">
                   <p class="parTime">
                        Вт
                   </p>
                </div>
                <div class="meetTime meetDate">
                  <p class="parTime">
                     XX 
                    <br>
                     Января
                  </p>
                </div>
            </div>
            <div class="meetAbout">
                <div class="meetName">
                    <h3>
                        Некое название митапа
                    </h3>
                </div>
                <div class="meetInfo">
                    <p>
                        Нечто о митапе.
                    </p>
                    <button class="meetDetails" onclick="window.location.href = '/aboutMeet';">
                    Подробнее 
                    </button>
                </div>
            </div>
        </div>

        <div class="meet">
            <div class="meetAboutTime">
                <div class="meetTime">
                   <p class="parTime">
                        15:00 мск
                   </p>
                </div>
                <div class="meetTime">
                   <p class="parTime">
                        Вт
                   </p>
                </div>
                <div class="meetTime meetDate">
                  <p class="parTime">
                     XX 
                    <br>
                     Января
                  </p>
                </div>
            </div>
            <div class="meetAbout">
                <div class="meetName">
                    <h3>
                        Некое название митапа
                    </h3>
                </div>
                <div class="meetInfo">
                    <p>
                        Нечто о митапе.
                    </p>
                    <button class="meetDetails" onclick="window.location.href = '/aboutMeet';"> 
                        Подробнее 
                    </button>
                </div>
            </div>
        </div>
    </main>
    </div>


    <footer>
        <p>
            © Lore.prof, 2021
        </p>
        <p>
            Наши <a href="#" style="color: white;"> Политика конфиденциальности</a> и <a href="#" style="color: white;">Условия пользования</a></p>
        <p>
            <a href="mailto:support@lore-prof.it-reu.ru" style="color: white;">
                Написать в тех. поддержку 
            </a>
        </p>
    </footer>
</body>
</html>