{% macro footer() %}

<div class="footer">
	<footer>
		<p>
           		 © Lore.prof, 2021
        	</p>
        	<p>
            		Наши <a href="#" style="color: white;"> Политика конфиденциальности</a> и <a href="#" style="color: white;">Условия пользования</a></p>
        	<p>
            	<a href="mailto:support@lore-prof.it-reu.ru" style="color: white;">
                	Написать в тех. поддержку 
            	</a>
        	</p>
		
		<script>
            		var full_name = "{{ full_name }}";
            		var login = document.getElementById('login');
            		var nonLogin = document.getElementById('nonLogin');
			
            		if (full_name == '') {
                		login.style.display = "none";
            		}
            		else if (full_name != '') {
            		    nonLogin.style.display = "none";
            		};
        
        		var modal = document.getElementById('id01');
        		window.onclick = function(event) {
            		if (event.target == modal) {
                		modal.style.display = "none";
            		}
        		};

        		var mod = document.getElementById('id02');
        		window.onclick = function(event) {
            		if (event.target == mod) {
                		mod.style.display = "none";
            		}
        		};
            
        		window.onload = function () {
            		document.body.classList.add('loaded_hiding');
            		window.setTimeout(function () {
                		document.body.classList.add('loaded');
                		document.body.classList.remove('loaded_hiding');
            		}, 500);
        		};
    		</script>
	</footer>
</div>
{% endmacro %} 
