{% macro header(full_name) %}

<div class="header">
    <div class="mainInfo">
        <a class="linkToMain" href="/index" aria-disabled="false">
            <img class="logo" src="{{url_for('static', filename='common_photos/logo.png')}}">
        </a>
        <a href="/calendar" class="itemMenu">
            Календарь мероприятий
        </a>
        <a href="/archive" class="itemMenu">
            Архив мероприятий
        </a>
        <a href="/professionsInfo" class="itemMenu">
            Информация о профессиях
        </a>
    </div>

    <div id="nonLogin">
        <button class="butLogin" onclick="document.getElementById('id01').style.display='block'">
            | Вход
        </button>
        <div id="id01" class="modal">
            <form class="modal-content" method="POST" action="/login">
                <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close">
                    ×
                </span>
                </div>

                <div class="loginContainer">
                    <label for="uname">
                        <b>
                            Логин
                        </b>
                    </label>
                    <input type="text" placeholder="Введите логин" name="login" required>

                    <label for="psw">
                        <b>
                            Пароль
                        </b>
                    </label>
                    <input type="password" placeholder="Введите пароль" name="password" required>

                    <button class="login" type="submit">
                        Войти
                    </button>
                    <label>
                        <input type="checkbox" checked="checked" name="need_to_remember"> Запомнить меня
                    </label>
                </div>

                <div>
                    <button type="button" onclick="window.location.href = '/registration';" class="regbtn login">
                        Зарегистрироваться
                    </button>
                    <span class="psw">
                    <a href="#">
                        Забыли пароль?
                    </a>
                </span>
                </div>
            </form>
        </div>
    </div>
    <script>
            if (full_name === null) {
                document.getElementById('login').style.display='none';
            }
            else if (full_name != null) {
                document.getElementById('nonLogin').style.display='none';
            }
        
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var mod = document.getElementById('id02');
        window.onclick = function(event) {
            if (event.target == mod) {
                mod.style.display = "none";
            }
        }
    </script>

    <div id="login">
        <button class="butLogin" onclick="document.getElementById('id02').style.display='block'">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="currentColor"
                 class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </button>

        <div id="id02" class="">
            <form class="modal-content" method="POST">



            </form>
        </div>
    </div>

</div>


{% endmacro %}


