<!DOCTYPE html>
<html>
<head>
	<title>Lore.Prof</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
</head>

<body>
	<header>
		<div class="mainInfo">
			<a href="#">
				<img class="logo" src="{{url_for('static', filename='common_photos/logo-black.png')}}">
			</a>
			<a href="#" class="itemMenu" style="margin-left: 4%">
				Календарь мероприятий
			</a>
			<a href="#" class="itemMenu">
				Архив мероприятий
			</a>
			<a href="#" class="itemMenu">
				Информация о профессиях
			</a>		
			<button class="iconLogin" onclick="document.getElementById('id01').style.display='block'" >
				<img class="iconPhoto" src="{{url_for('static', filename='common_photos/human.png')}}">
			</button>

			<div id="id01" class="modal">
  
  				<form class="modal-content" method="POST">
				    <div class="imgcontainer">
				        <span onclick="document.getElementById('id01').style.display='none'" class="close">×</span>
				    </div>
    
			    	<div class="loginContainer">
						<label for="uname"><b>Логин</b>
						</label>
						<input type="text" placeholder="Введите логин" name="uname" required>

						<label for="psw"><b>Пароль</b>
						</label>
						<input type="password" placeholder="Введите пароль" name="psw" required>

						<button class="login" type="submit">Войти</button>
						<label>
							<input type="checkbox" checked="checked" name="remember"> Запомнить меня
						</label>
					</div>

		    		<div>
		      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn login">Отмена</button>
		      <span class="psw">
		      	<a href="#">Забыли пароль?</a>
		      </span>
		   		    </div>
		  		</form>
			</div>

			<script>
				var modal = document.getElementById('id01');
				window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
				}
			</script>

		</div>
	</header>

	<footer>
	</footer>
</body>
</html>