<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
        <header>
            {% from 'headerMacr.html' import header %}

            {{ header() }}
        </header>
		
    <main>

        <h1>Lore.prof</h1>
        <p>Проект Lore.prof предназначен для помощи старшеклассникам и студентам в выборе будущей профессии.
        	<br>
        	Мероприятия - это онлайн-встречи с людьми, которые знают свою профессию, имеют свою историю, свой путь и хотят поделиться своим опытом. 
        	<br>
        	На встречи надо регистрироваться заранее, количество мест ограничено.
        </p>
    </main>
	</div>

    <footer>
            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
    </footer>
</body>
</html>
