<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='indexStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
        <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
        </header>
		
   <main>
	   
        <h1 style="color: #FFD700"><center>Lore.prof</center></h1>

        <img src="../static/common_photos/mine.jpg" class="indexImg" width="500" />
        <div class="aboutLore">
            <p class="aboveline">Всякая профессия есть заговор против непосвященного.
                <br>
                © Бернард шоу
            </p>

            <div class='division'>
                <hr/>
                <p>Проект Lore.prof предназначен для помощи старшеклассникам и студентам в выборе
                    будущей профессии, ведь дело должно приносить удовольствие.
                </p>
                <p >
                    Мы предлагаем онлайн-встречи с людьми, которые знают и любят свою профессию, имеют свою историю, свой путь и хотят поделиться своим опытом.
                </p>
            </div>
        </div>
	   
    </main>
		
	</div>

            {% from 'footerMacr.html' import footer %}

            {{ footer() }}
</body>
</html>
