
{% macro usedalot(somevalue) %}

<div class="login modal">{{ somevalue }}
                <form class="modal-content" method="POST" action="/login">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close">
                            ×
                        </span>
                    </div>

                    <div class="loginContainer">
                        <label for="uname">
                            <b>
                                Логин
                            </b>
                        </label>
                        <input type="text" placeholder="Введите логин" name="login" required>

                        <label for="psw">
                            <b>
                                Пароль
                            </b>
                        </label>
                        <input type="password" placeholder="Введите пароль" name="password" required>

                        <button class="login" type="submit">
                            Войти
                        </button>
                        <label>
                            <input type="checkbox" checked="checked" name="need_to_remember"> Запомнить меня
                        </label>
                    </div>

                    <div>
                        <button type="button" onclick="window.location.href = '/registration';" class="regbtn login">
                            Зарегистрироваться
                        </button>
                        <span class="psw">
                            <a href="#">
                                Забыли пароль?
                            </a>
                        </span>
                    </div>
                </form>
</div>

{% endmacro %}    
