{% macro meet(event_id, name, date_of_event, description, place, event_form) %}

 <div class="meet">
            <div class="meetAboutTime">
                <div class="meetTime">
                    <p class="parTime">
                        XXX
                    </p>
                </div>
                <div class="meetTime">
                    <p class="parTime">
                        XXX
                    </p>
                </div>
                <div class="meetTime meetDate">
                    <p class="parTime">
                        {{ date_of_event }}
                    </p>
                </div>
            </div>
            <div class="meetAbout">
                <div class="meetName">
                    <h3 onclick="window.location.href = './aboutMeet/{{event_id}}';">
                        {{ name }}
                    </h3>
                </div>
                <div class="meetInfo">
                    <p>
                        {{ description|safe }}
                    </p>
                    <button class="meetDetails" onclick="window.location.href = './aboutMeet/{{event_id}}';">
                        Подробнее
                    </button>
                </div>
            </div>
        </div>

{% endmacro %}    
