<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='pastMeetStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}
    </header>
        
    <main>
	<div class="preloader">
            <div class="preloader__row">
                <div class="preloader__item"></div>
                <div class="preloader__item"></div>
            </div>
        </div>
	    
        <img src="{{url_for('static', filename='common_photos/FrontDevMeetCover.png')}}" alt="{{ event.name }}" class="mainCoverWeb">
	   
	<div class="meetDescription">
		{{ event.description|safe }}
	</div>
	    
	<div class="meetVideo">
		<p>Запись мероприятия доступна по ссылке "ссылка"</p>
        </div>
    </main>
</div>

    
    {% from 'footerMacr.html' import footer %}
    {{ footer() }}
    
</body>
</html>
