<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='persAccountStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
        <header>
            {% from 'headerMacr.html' import header %}

            {{ header() }}
        </header>
    <main>
        <h1>This is personal account</h1>

    <div class="container">
      <div class="label">
        <span class="tooltip-toggle" aria-label="Sample text for your tooltip!" tabindex="0">
          <svg viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><g fill="#ED3E44" fill-rule="evenodd"><p>I</p></g></svg>
        </span>
        <span class="label-text">Hover over the "i"!</span>
      </div>
    </div>
 
    </main>
    </div>

    <footer>
        <p>
            © Lore.prof, 2021
        </p>
        <p>
            Наши <a href="#" style="color: white;"> Политика конфиденциальности</a> и <a href="#" style="color: white;">Условия пользования</a></p>
        <p>
            <a href="mailto:support@lore-prof.it-reu.ru" style="color: white;">
                Написать в тех. поддержку 
            </a>
        </p>
    </footer>
</body>
</html>