<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='professionsInfoStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
    <header>
        
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}   
        
    </header>

    <main>
        <form class="d-flex" id="input-wrapper">
      <input class="form-control me-2" id="inputSearch" type="search" placeholder="Что ищем?" aria-label="Search" name="query">
    </form>
        {% for i, _ in enumerate(professions[::3]) %}
        <div class="cardRow">
                {% for profession in professions[i:i+4] %}
                    <div class="card">
                        <img src="{{ get_first_picture(profession.id) if get_first_picture(profession.id) else url_for('static', filename='/common_photos/logo.png') }}" class="cardImg" alt="Профессия">
                        <div class="cardBody">
                        <h3 class="cardTitle">{{ profession.name }}</h3>
                        <p class="cardText">{{ get_short_article(profession.article|safe) }}</p>
                            <div class="divBtnMore">
                                <a href="/profession/{{ profession.id }}" class="btnMore">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
        {% endfor %}
    </main>
    </div>

        
            {% from 'footerMacr.html' import footer %}
            {{ footer() }}  
        
</body>
</html>
