<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='info-profStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
    <header>
        <div class="mainInfo">
            <a class="linkToMain" href="/index" aria-disabled="false">
                <img class="logo" src="{{url_for('static', filename='common_photos/logo.png')}}">
            </a>
            <a href="/calendar" class="itemMenu">
                Календарь мероприятий
            </a>
            <a href="/archive" class="itemMenu">
                Архив мероприятий
            </a>
            <a href="/professionsInfo" class="itemMenu">
                Информация о профессиях
            </a>
            <button class="butLogin" onclick="document.getElementById('id01').style.display='block'">
                | Вход
            </button>

            <div id="id01" class="modal">

                <form class="modal-content">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close">
                            ×
                        </span>
                    </div>

                    <div class="loginContainer">
                        <label for="uname">
                            <b>
                                Логин
                            </b>
                        </label>
                        <input type="text" placeholder="Введите логин" name="uname" required>

                        <label for="psw">
                            <b>
                                Пароль
                            </b>
                        </label>
                        <input type="password" placeholder="Введите пароль" name="psw" required>

                        <button class="login" type="submit">
                            Войти
                        </button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Запомнить меня
                        </label>
                    </div>

                    <div>
                        <button type="button" onclick="window.location.href = '/registration';" class="regbtn login">
                            Зарегестрироваться
                        </button>
                        <span class="psw">
                            <a href="#">
                                Забыли пароль?
                            </a>
                        </span>
                    </div>
                </form>
            </div>

            <script>
                var modal = document.getElementById('id01');
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>

        </div>
    </header>

    <main>
        <div class="cardRow">
           <div class="card">
                <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/aboutProf" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/aboutProf" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
         <div class="card">
                <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/aboutProf" class="btnMore">Подробнее</a>
                    </div>
                 </div>
                </div>
                <div class="card">
                    <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                    <div class="cardBody">
                        <h3 class="cardTitle">Профессия</h3>
                        <p class="cardText">Что-то о профе в 1-2 предл.</p>
                        <div class="divBtnMore">
                            <a href="/aboutProf" class="btnMore">Подробнее</a>
                        </div>
                     </div>
                </div>
            </div>
            <div class="cardRow">
                <div class="card">
                <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/aboutProf" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/aboutProf" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
        </div>
    </main>
    </div>

    <footer>
        <p>
            © Lore.prof, 2021
        </p>
        <p>
            Наши <a href="#" style="color: white;"> Политика конфиденциальности</a> и <a href="#" style="color: white;">Условия пользования</a></p>
        <p>
            <a href="mailto:support@lore-prof.it-reu.ru" style="color: white;">
                Написать в тех. поддержку 
            </a>
        </p>
    </footer>
</body>
</html>