<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='professionsInfoStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
    <div class="wrapper">
    <header>
        
            {% from 'headerMacr.html' import header %}

            {{ header(account.full_name) }}   
        
    </header>

    <main>
        <div class="cardRow">
            {% for profession in professions %}
                <div class="card">
                    <img src="{{ get_first_picture(profession) }}" class="cardImg" alt="Профессия">
                    <div class="cardBody">
                    <h3 class="cardTitle">{{ profession.name }}</h3>
                    <p class="cardText">{{ get_short_article(profession) }}</p>
                        <div class="divBtnMore">
                            <a href="/profession/{{ profession.id }}" class="btnMore">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="card">
                <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/profession" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/profession" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
         <div class="card">
                <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/profession" class="btnMore">Подробнее</a>
                    </div>
                 </div>
         </div>
                <div class="card">
                    <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                    <div class="cardBody">
                        <h3 class="cardTitle">Профессия</h3>
                        <p class="cardText">Что-то о профе в 1-2 предл.</p>
                        <div class="divBtnMore">
                            <a href="/profession" class="btnMore">Подробнее</a>
                        </div>
                     </div>
                </div>
            </div>
            <div class="cardRow">
                <div class="card">
                <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/profession" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
            <div class="card">
                <img src="{{url_for('static', filename='common_photos/Prof-htmlCode.jpg')}}" class="cardImg" alt="Профессия">
                <div class="cardBody">
                    <h3 class="cardTitle">Профессия</h3>
                    <p class="cardText">Что-то о профе в 1-2 предл.</p>
                    <div class="divBtnMore">
                        <a href="/profession" class="btnMore">Подробнее</a>
                    </div>
                 </div>
            </div>
        </div>
    </main>
    </div>

        
            {% from 'footerMacr.html' import footer %}
            {{ footer() }}  
        
</body>
</html>
