<!DOCTYPE html>
<html>
<head>
    <title>Lore.Prof</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='common.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='registrationStyle.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='common_photos/logo.png')}}" type="image/png" >
</head>

<body>
	<div class="wrapper">
    <header>
	    
            {% from 'headerMacr.html' import header %}
            {{ header() }}

    </header>

  <main>
        <form action="/registration" method="POST">
            <div class="container">
                <h1>Регистрация</h1>
                <p>Заполните следующие поля, чтобы зарегистрироваться на сайте.</p>
                <hr>

                <label for="name" class="regLabel"><b>Имя Фамилия</b></label>
                <input type="text" placeholder="Введите Имя и Фамилию" name="name" required>

                <label for="email" class="regLabel"><b>Email</b></label>
                <input type="text" placeholder="Введите Email" name="email" required>

                <label for="psw" class="regLabel"><b>Пароль</b></label>
                <input type="password" placeholder="Введите Пароль" name="password"  id="psw" required>
                <hr>

                <div class="acces">
                    <label>
                        <span class="terms" style="color: white;">
                            Регистрируясь, вы подтверждаете, что прочитали и согласны с <a href="#" style="color: white;"> Политикой конфиденциальности</a> и <a href="#" style="color: white;">Условиями пользования</a>.
                        </span>
                    </label>
                </div>

                <button type="submit" class="registerbtn">
                    <b>Зарегистрироваться</b>
                </button>

            </div>

        </form>
    </main>
		
	</div>

            {% from 'footerMacr.html' import footer %}
            {{ footer() }}
		
	
</body>
</html>
